.page-footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer-container {
  display: flex;
  align-items: flex-start;
}

.footer-info {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-social-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-list .social-icon {
  width: 24px;
  height: 24px;
}

.footer-subscribe {
  margin-left: auto;
}

.subscribe-form {
  display: flex;
  align-items: center;
  gap: 24px;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  outline: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: transparent;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.15));
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input::placeholder {
  color: #ffffff;
}

.subscribe-input:focus {
  border-color: #4d5ae5;
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}

.subscribe-icon {
  margin-left: 16px;
}
